<body>
<!-- <input  [(ngModel)]="hero.id" placeholder="id">
<input [(ngModel)]="hero.name" placeholder="name">
<input [(ngModel)]="hero.desc" placeholder="desc"> -->

<!-- <button (click)=additem(input.value,input1.value,input2.value)>Click Here to add to list</button>-->
<div class='projectstyle'>
<h1>Details of {{hero.name | uppercase}}</h1>
<h2>{{hero.id }}</h2>
<h2>{{hero.name}}</h2>
<h2>{{hero.desc}}</h2>
</div>

<ul>
  <li class="listdesign" *ngFor="let temphero of localherolist" (click)=selected(temphero)>{{temphero.name}}</li>
</ul>
</body>
